<h1>一覧</h1>

<% @boards.each do |board| %>
      <tr>
        <th><%= board.id %></th>
        <th><%= board.title %></th>
        <th><%= board.name %></th>
        <th><%= board.created_at %></th>
        <th><%= board.updated_at %></th>
      </tr>
    <% end %>
